:root {
    --primary-dark: black;
    --secondary-dark: black;
    --primary-light: white;
    --secondary-light: white;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
body {
    min-height: 100vh;
    /* padding: 0 20px; */
}

.container {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 4fr;
}

.header {
    background-color: aqua;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,75px) minmax(75px,1fr);
    grid-auto-flow: column;
    gap: 15px;
    align-items: center;
}

.header .add-book {
    padding: 10px 15px;
    max-width: 75px;
    border-radius: 15px;
}
/* TOGGLE BUTTON */
.switch {
position: relative;
display: inline-block;
width: 50px;
height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(18px);
-ms-transform: translateX(18px);
transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

#light-toggle-text,
#dark-toggle-text {
    text-align: center;
}

nav {
    display: flex;
}
.header ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
.header ul a {
    text-decoration: none;
}
.nav-link {
    transition: 0.7s ease;
}
.nav-link {
    color:#2196F3;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

/* 
~~  HERO SECTION ~~
*/
.hero {
    background-color: rgb(225, 255, 0);
    padding:1rem;
    display: grid;
    grid-template-columns: minmax(150px,1fr);;
    grid-auto-flow: column;
    align-items: center;
}
#search-section {
    display:grid;
    grid-template-columns: 30px 1fr;
}
#book-search {
    max-width: 100px;
}


.book-totals {
    border: #2196F3 1px solid;
    min-height: 50px;
    width: max-content;
    padding: 1rem 2rem;
    font-size: .8rem;
    margin-right: 1rem;
}
.book-progress-bar {
    width: 100%;
  background-color: grey;
}
.progress-bar {
    width: 10%;
    height: 30px;
    background-color: #04AA6D;
    text-align: center;
    line-height: 30px;
    color: white;
}
/* 
~~  BOOK SECTION ~~
*/
.book-section {
    grid-column: ;
    background-color: rgb(210, 38, 207);
    padding:1rem;
}

.book-sort-status-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.book-section .sort {
    padding-bottom: 1rem;
}
.book-section .sort select {
        border: solid rgba(93, 104, 116, 0.5) 1px;
        background-color: transparent;
        border-radius: 3px;
        height: 1.5rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        margin-left: 0.3rem;
}
.book-section .status {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
}
.status .read_color {
    background: linear-gradient(135deg, rgba(24, 77, 104, 0.8) 0%, rgba(87, 202, 133, 0.8) 100%);
    height: 30px;
    width: 50px;
    border-radius: 3px;
    margin: 0.2rem;
}
.status .unread_color {
    background: linear-gradient(135deg, #e3e3e3 0%, #5d6874 100%);
    margin-left: 1.5rem;
    height: 30px;
    width: 50px;
    border-radius: 3px;
    margin: 0.2rem;
}
/* 
    BOOK CARDS
*/
.book-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,400px));
    grid-gap: 20px;
    margin: 2rem auto;
    position: relative;
}
.book-card-container .scale-in-center {
    -webkit-animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.book-card-container .single-book {
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: start;
    line-height: 1.2;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
    position: relative;
    background: linear-gradient(135deg, #e3e3e3 0%, #5d6874 100%);
}
.book-card-container .single-book {
    background: linear-gradient(135deg, rgba(24, 77, 104, 0.8) 0%, rgba(87, 202, 133, 0.8) 100%);
    color: white;
}


.add_book_section {
    display: none;
    /* hide for now */
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    align-items: center;
}

.empty_library_section {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
}

@media(max-width:376px) {
    .header {
        background-color: aqua;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(2,50px) minmax(75px,1fr);
    }


}
@media(max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 108px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        right: 0;
    }
}

@media(max-width:1080px) {
 .hero {
    grid-template-columns: repeat(2, 1fr);
 }
}