:root {
    --primary-dark: black;
    --secondary-dark: black;
    --primary-light: white;
    --secondary-light: white;
}
* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.container {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 4fr;
}

.header {
    background-color: aqua;
    padding:1rem;
}