:root {
    --primary-dark: black;
    --secondary-dark: black;
    --primary-light: white;
    --secondary-light: white;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
body {
    min-height: 100vh;
    /* padding: 0 20px; */
    background-color: azure;
}

#column-wrap {
    background-color: #000;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    min-height: 100vh;
}

#column-left {
    width: 35%;
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#column-right {
    margin: 0;
    width: 65%;
    min-height: 100vh;
    height: 100%;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    background-image: url("../assets/img/book-wall-background.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}