:root {
    --primary-dark: black;
    --secondary-dark: black;
    --primary-light: white;
    --secondary-light: white;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Arvo', serif;
}
body {
    min-height: 100vh;
    /* padding: 0 20px; */
    background-color: azure;
}

#column-wrap {
    background-color: var(--primary-light);

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    min-height: 100vh;
}

#column-left {
    width: 35%;
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#column-left .inner {
    padding: 0 50px;
    margin: 0 auto;
    max-width: 485px;
}

#column-left img {
    width: 120px;
    display: block;
    margin: 0 auto;
}

#column-left h1 {
    /* font-family: 'Arvo', serif; */
    color: #444;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin: 24px 0;
}

#column-left .create {
    text-align: center;
    margin: 0 0 20px 0;
}

#column-left form {
    margin: 20px 0;
}

#column-left .input-wrap {
    margin: 0 0 25px 0;
}
#column-left label {
    display: block;
    color: #444;
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0 10px 0;
}
#column-left input[type=text], 
#column-left input[type=password],
#column-left input[type=email] {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 18px;
    line-height: 1;
    padding: 13px 15px;
    color: #444;
    -webkit-appearance: none;
    appearance: none;
}
#column-left button {
    display: block;
    width: 100%;
    line-height: 1;
    background-color: #e27730;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 16px 15px;
    cursor: pointer;
}
#column-left .forgot {
    text-align: center;
    font-size: 16px;
    margin: 20px 0 0;
}
#column-left .forgot a {
    color: #666;
    text-decoration: underline;
}
#column-left .footer {
    text-align: center;
    margin: 40px 0 0;
    color: #888;
    font-size: 12px;
}

#column-right {
    margin: 0;
    width: 65%;
    min-height: 100vh;
    height: 100%;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    background-image: url("../assets/img/book-wall-background.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}

#column-right .inner {
    display: block;
    width: 100%;
    text-align: center;
}

#column-right .inner .landing_page_message {
    padding: 44px 60px 50px 60px;
    background-color: #fff;
    max-width: 440px;
    margin: auto;
    text-align: left;
}

#column-right .inner .landing_page_message .msg_title {
    /* font-family: 'Arvo', serif; */
    color: #444444;
    margin-bottom: 26px;
    line-height: 1.4;
    font-size: 27px;
    font-weight: 400;
    margin-top: 0;
}

#column-right .inner .landing_page_message .msg_content {
    color: #777777;
    font-size: 18px;
    margin-bottom: 32px;
    line-height: 1.6em;
}

#column-right .inner .landing_page_message .msg_button {
    background-color: #DE7739;
    border-radius: 3px;
    font-size: 16px;
}
#column-right .inner .landing_page_message .msg_button a {
    display: block;
    width: 100%;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    background-image: url(../assets/icons/arrow-right-thin-circle-outline.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    background-size: 18px;
}
#column-left button:hover,
#column-right .inner .landing_page_message .msg_button:hover {
    background-color: #c45e1b;
}


@media screen and (max-width: 959px) {
    #column-left {
        width: 100%;
        min-height: 0;
        height: auto;
        display: block;
        padding-top: 60px;
    }
    #column-left .inner {
        padding: 0 30px;
    }
    #column-right {
        display: none;
    }
}

